.navbar .navbar-link {
    color: black;
    text-decoration: none;
    font-size: 32px;

    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    line-height: 70px;
}

.navbar > ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.navbar .navbar-option {
    width: 32%;
    float: left;
    text-align: center;
    background-color: rgb(125, 113, 204);
    height: 100%;
}

.Titulo-principal {
    color: rgba(190, 56, 56, 0.719);
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 10px;
    padding-left: 10px;
    line-height: 64px;
    font-size: 40px;
}

.Comentarios-titulo {
    background-color: rgb(34, 0, 255);
    color: white;
}

.Contenido > img {
    background-color: black;
}

.Contenido > p {
    text-align: center;
    background-color: wheat;
}

.Contenido > h2 {
    text-align: center;
}

.pie-pagina > h3 {
    background-color: cornflowerblue;
}